.org-sub {
  background-color: #7455d1;
  width: 40vw;
  height: 100vh;
  margin-left: 30%;
  border-radius: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.org-img {
  height: 30vh;
  width: 30vw;
  margin-left: 14%;
  margin-top: 10px;
}

.org-header {
  color: black;
  text-align: center;
  font-size: xx-large;
  font-weight: 500;
}

.org-txt {
  font-size: larger;
  font-weight: 300;
  margin: 10px;
  color: black;
}

.org-tag {
  font-size: larger;
  font-weight: 300;
  margin: 10px;
  color: black;
  text-align: center;
}
